main {
  max-width: var(--max-width);
  color: var(--text-secondary);
  background-color: var(--background);
  margin: auto;
  display: flex;
  height: 100%;

  aside {
    width: 30%;
    padding: 1em;
  }
}
