@use "sass:color";

.container {
  background-color: tomato;

  header {
    padding: 0.5em 1em;
    max-width: var(--max-width);
    color: whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin: auto;

    h1 {
      font-size: 2rem;
    }

    .headerButton {
      border: none;
      background-color: transparent;
      cursor: pointer;
    }
  }
}
